VITE_CLUSTER=devnet
VITE_RPC=https://api.devnet.solana.com
VITE_SWAP_URL=https://jup.ag/swap/SOL-TIME
VITE_NFT_URL=https://www.tensor.trade/
VITE_TWITTER=https://twitter.com/BattleCHAN_
VITE_TELEGRAM=https://t.me/BattleChanICP
